.footer {
  height: 60vh;
  background: #002333;
  color: #fff;
  padding-top: 40px;
}

.header {
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}

.itemlist {
  list-style: none;
  margin-left: 0px;
  text-decoration: none;
  line-height: 2rem;
}
.itemlist li {
  margin-left: 0px !important;
  font-size: 13px;
  font-weight: 500;
}

.itemlist li a {
  text-decoration: none;
  color: #fff;
}
.itemlist li a:hover {
  color: #00ff84;
}
.stores {
  margin-left: 30px;
}
.stores svg {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 90vh;
  }
}
