.heading {
  color: #002333;
  font-size: 18px;
  font-weight: bold;
}
.input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}
.signup-message {
  margin-top: 10px;
  font-size: 13px;
  color: #002333;
}
.btn-signup {
  background: #00ff84;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border: none;
  padding: 5px;
  color: #002333;
  border-radius: 5px;
}

.btn-signup:hover {
  background: #089450;
}
.socialauth {
  width: 100%;
  margin-bottom: 20px;
}

.socialitem {
  padding-left: 10px;
  display: flex;
  height: 40px;
  width: 100%;
  flex-direction: row;
  border: 1px solid #394649;
  border-radius: 5px;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
.socialitem svg {
  height: 20px;
  margin-right: 30px;
}
.socialitem:hover {
  background-color: #eeeeee;
}
